body{
    /* font-family : 'Raleway', sans-serif; */
    font-family : 'Nunito', sans-serif;    
    scroll-behavior: smooth;
    display: block
}

html{
    scroll-behavior : smooth;
}

.contact{
    height : 1.5em;
    width : 1.5em;
}

.home{
   height: 100vh;
   width: 100vw;
}

.about{
    height : 100vh;
    width: 100vw;   
}

.quotes{
    height : 100vh;
    width: 100vw;
}

.exp{
    background-color : white;
    min-height : 100vh;
    padding : 15vh 0vh 15vh 0vh;
}

.exp title{
    color : white;
}

img{
    margin-top: 24px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 24px;
}

h1 {
    font-size: 15vh;
}

h2{
    font-size: 10vh;
}

h3{
    font-size: 5vh;
}

h4{
    font-size: 4vh;
}

h5{
    font-size: 3vh;
}

h6{
    font-size: 2vh;
}

a {
    color: black;
}

a:hover {
    color: #00BBA6;
    transition : 0.25s;
} 



.header-content{
    text-align : center;
    color : white;
    padding : 12vh;
}

.header-content h1{
    font-size : 10vw;
    padding : 1vh;
    display: inline-block;
}

.body-content{
    position : left;
    padding : 5vh;
    display: inline-block;
    z-index : -1;
   
}

.col {
    float: center;
    width: 50%;
    padding: 10px;
}

.body-content:after {
    content: "";
    display: table;
    clear: both;    
}

/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
} */



.navbar{
    /* overflow: hidden; */
    background-color: white;
    /* justify-content: left;
    z-index : 1; */
    
}

.navbar a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.25s;
    font-size : 3vh;
}

.navbar a:hover {
    background-color: #CFEBEA;
    transition : 0.25s;
} 

.navbar a:active {
    background-color: #00BBA6 ;
    color: #ddd;
    transition : 0.25s;
}

.card{
    padding : 15vh 0vh 15vh 0vh;
}


/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .body-content {
    padding-top: 16vh;
} */
